body {
  width: 100vw;
  height: auto;
}
.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 100;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  border-top: 1px solid black;
  height: 100px;
}
.socials {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 40px;
  height: 40px;
}
.logo {
  color: white;
  font-size: 40px;
  margin: 0 0 0 20px;
}
.menuItems ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.mylists {
  margin-top: 100px;
}
.landingPage {
  margin-top: 51px;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroImage {
  object-fit: contain;
  width: 100vw;
  position: fixed;
  top: 100px;
  left: 0;
  height: auto;
}
.heroText {
  color: white;
  z-index: 100;
  width: 600px;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
